<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/calendar.css">
    <meta charset="UTF-8">
    <title>Calendar</title>
</head>
<body>
    <div class="container">
        <div class="calendar">
            <div class="month">
                <i class="left arrow" onclick="last()"></i>
                <div class="date">
                    <p></p>
                </div>
                <i class="right arrow" onclick="next()"></i>
            </div>
            <div class="week">
                <p>Mon</p>
                <p>Tue</p>
                <p>Wed</p>
                <p>Thu</p>
                <p>Fri</p>
                <p>Sta</p>
                <p>Sun</p>
            </div>
            <div class="days">
            </div>
        </div>
        <div class = event>
            <h2 style="color:black; margin-left:5%; margin-top:20px;"></h2>
            <div style="width:80%; border-bottom: 1px solid; border-color:#009400;"></div>
            <div class="cards">
                <div class="timecard">
                    <p>9:00-10:00</p>
                    <button class="pickbutton">pick</button>
                </div>
                <div class="timecard">
                    <p>10:00-11:00</p>
                    <button class="pickbutton">pick</button>
                </div>
                <div class="timecard">
                    <p>11:00-12:00</p>
                    <button class="pickbutton">pick</button>
                </div>
                <div class="timecard">
                    <p>12:00-13:00</p>
                    <button class="pickbutton">pick</button>
                </div>
                <div class="timecard">
                    <p>13:00-14:00</p>
                    <button class="pickbutton">pick</button>
                </div>
                <div class="timecard">
                    <p>14:00-15:00</p>
                    <button class="pickbutton">pick</button>
                </div>
                <div class="timecard">
                    <p>15:00-16:00</p>
                    <button class="pickbutton">pick</button>
                </div>
                <div class="timecard">
                    <p>16:00-17:00</p>
                    <button class="pickbutton">pick</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/javascript/calendar.js"></script>
</body>
</html>