<!doctype html>

<html lang="en">
    <head>

        <meta charset="utf-8">
        <title>Evidence-Based Coaching</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/evidencebasedcoach.css">
        <link rel="stylesheet" href="../static/css/navigation.css">

    </head>
        <body style="min-width: 1680px;">

          <div class="gap" id = "background">
          <script src="../static/javascript/navigationBar.js"></script>

          <div class="Why-Evidence-based-coach">
            <div class="article-of-why-evidence-based-coach">
              <h1>Why Evidence-based Coaching?</h1>
              <p style="font-size: 28px; text-align:left;margin-left:4%;">Read below to find out now</p>
            </div>

            <div class="picture_first">
              <img src="../static/image/coaching1.jpg" alt="Background Image" width="580px" height="400px">
            </div>



          </div>


          <div class="section_2">

                <div class="content2">
                  <div class="section_2_1">
                    <img src="../static/image/coaching2.jpeg" alt="Background Image" width="580px" height="400px">
                  </div>


                  <div class="section_2_2">

                      <h1 style="font-size: 65px;">Insights</h1>
                      <p >
                        Coaching is an incredibly powerful tool that can help create more productive, engaged and fulfilled employees.
                        <br><br>Despite its many benefits, however, coaching is often under-utilised.<br><br>
                        One reason is that coaching is often seen as a learning and development technique that is reserved only for those in executive positions. Nothing could be further from the truth!
                      </p>

                  </div>

                  <div class="green_circle">



                <div class="circle1">
                  <div class="dot"></div>
                  <div class="dot1"></div>
                </div>

                <div class="circle2">
                  <div class="dot2"></div>
                  <div class="dot3"></div>
                </div>
                <div class="circle3">
                  <div class="dot4"></div>
                  <div class="dot5"></div>
                </div>
                </div>

        </div>
        </div>




        <div class="section_3">
              <div class="content3">
                <h1>Benefits of Evidence-Based Coaching</h1>
                <div class="section_3_1">
                  <div class="tick">
                    &#x2714;
                  </div>

                  <div class="text_after_tick">
                    Improving productivity and performance
                  </div>

                </div>

                <div class="section_3_2">
                  <div class="tick">
                    &#x2714;
                  </div>
                  <div class="text_after_tick">
                     Making you feel valued
                  </div>

                </div>

                <div class="section_3_3">
                  <div class="tick">
                    &#x2714;
                  </div>
                  <div class="text_after_tick">
                    Dealing with challenges more confidently
                  </div>

                </div>

                <div class="section_3_4">
                  <div class="tick">
                    &#x2714;
                  </div>
                  <div class="text_after_tick">
                    Help you identify and understand obstacles
                  </div>

                </div>

              </div>
      </div>

          </div>



        </body>
</html>
