<!doctype html>
{% include 'layout.html' %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <title>Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/ForgotPassword.css">
        <link rel="stylesheet" href="../static/css/navigation.css">

    </head>
        <body style="margin: 0px;">
            <script src="../static/javascript/HeadBar_no_login.js"></script>
                <form class="forgot" action="/forgotpassword" method='post'>
                    <legend>Reset Password</legend>
                    <input name="firstname" type="firstname" placeholder="Firstname" required>
                    <input name="lastname" type="lastname" placeholder="Lastname" required>
                    <input name="email" type="email" placeholder="Email" required>
                    <input name="username" type="username" placeholder="Username" required>
                    <input name="newPassword" type="newPassword" placeholder="New Password" required>
                    <input name="confirm" type="confirm" placeholder="Confirm Password" required>
                    <input type="submit" value="Reset">
                    <div class="inner">
                        <a href="/login">Cancel</a>
                    </div>
                </form>

            </div>


        </body>
</html>
