<!DOCTYPE html>
<html lang="en">
<head>
  <title>landingPage</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/navigation.css">
<link rel="stylesheet" href="../static/css/landingPage.css">
<link rel="stylesheet" href="../static/css/footer.css">


</head>

<body>
<script src="../static/javascript/HeadBar_no_login.js"></script>
<div class="intro-board">
  <div class="intro-text">
    <h1 style="font-size:50px">Mental strength for Emerging Leaders</h1>
    <p>Digital Coaching </p>
    <button>Book Now</button>
  </div>
</div>

<div class="part2">
  <div class="img-emerge">
    <!-- <img src="/static/image/intro-video call.jpg"/> -->
  </div>
  <div class="whats-emerge">
    <div class="whats-emerge-content">
      <h1>&nbsp&nbspWhat is &nbsp&nbspEMERGE ?</h1>
      <p>EMERGE is a digital platform that connects evidence based coaches with high potential emerging leaders. It enables emerging leaders to scale their businesses by reducing their psychological stress and increasing their mental strength.</p>
    </div>

    <div class="whats-emerge-readmore">
      <a href="#">Read More</a>
    </div>
  </div>
</div>

<div class="join-and-strengthen">
  <h1>Join Emerge and strengthen</h1>
</div>

<div class="pic-how-emerge-work">
  <img src="static/image/intro-howEmergeWork.png" alt="howEmergeWork"/>
  <div class="how-emerge-work">
    <h1>How EMERGE works?</h1>
    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
  </div>
</div>

<div class="our-coach-part">
  <div class="our-coache-intro">
    <h1>Our Coaches</h1>
    <p>Our coaches bring decades of corporate experience, run their own businesses and are masters in coaching psychology. They use evidence-based methods and a hyper-personalised learning experience to help you grow as a leader.</p>
    <button onclick="window.location.href='/coachApplication'">Join Us</button>
  </div>
  <div class="our-coach-img">
    <img src="../static/image/landing-ourCoach.jpg" alt="Background Image" />
  </div>
</div>

<div class="coaches-info">
  <div class="coach-card">
    <img src="../static/image/photo-1631624222568-6619ce21a683.jpg" width="360px" height="404px" alt="photo1">
    <div class="container">
      <h2>CoachA</h2>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
    </div>
  </div>
  <div class="coach-card">
    <img src="../static/image/photo-1631761320198-4bc79af9029b.jpg" width="360px" height="404px" alt="photo2">
    <div class="container">
      <h2>CoachB</h2>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
    </div>
  </div>
  <div class="coach-card">
    <img src="../static/image/photo-1588676478262-3d48b5a0c60e.jpg" width="360px" height="404px" alt="photo3">
    <div class="container">
      <h2>CoachC</h2>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
    </div>
  </div>
  <div style="clear:both;"></div>
</div>

<div class="why-evidence-based-section">

  <img src="static/image/landing-why-evidence-based.png" alt="landing-why-evidence-based"/>
  <div class="why-evidence-based-content">
    <h1>Why Evidence-based coaching?</h1>
    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
  </div>
</div>


<script src="../static/javascript/footer.js"></script>
</body>


</html>
